@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
      url('../fonts/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body, button, input, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif;
}

hr {
  background-color: #dbdbdb;
}

.link {
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.link.disabled {
  color: #7a7a7a !important;
  cursor: not-allowed;
}

.game {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #f5f5f5;
  padding: 1.5rem;
}

.game.is-player {
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .game {
    padding: 1.5rem;
  }
}

.scores {
  display: flex;
  padding: 0.5rem;
  font-size: 12px;
}

.scores-item {
  margin-right: 0.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  flex-grow: 1;
}

.scores-item:last-child {
  margin-right: 0;
}

.scores-item-active {
  background: #c4e4ff;
}

.scores-name {
  padding: 0.25rem;
  font-weight: 700;
}

.scores-value {
  border-top: 1px solid #dbdbdb;
  padding: 0.25rem;
}

.navbar.is-mobile > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.is-mobile .navbar-menu {
  align-items: stretch;
  display: flex;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar.is-mobile .navbar-start {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.navbar.is-mobile .navbar-end {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar.is-mobile .navbar-item {
  color: #fff;
  align-items: center;
  display: flex;
}

.navbar.is-mobile .navbar-item.is-active, .navbar.is-mobile .navbar-item:hover {
  background-color: #292929;
  color: #fff;
}

.container.is-mobile {
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .container.is-mobile {
    padding: 0;
  }
}

.link.disabled, .link.disabled:hover, .link.disabled:active, .link.disabled:focus {
  color: #7a7a7a !important;
  text-decoration: underline;
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3e8ed0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}